html {
    scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root, :before, :after, * {
    --vf-primary: #0066CC;
    --vf-ring-color: rgb(59 130 246 / 0.5);
}
.form-color-btn {
    background-color: #0066CC;
}
